#dashboard {
  background-color: var(--bg-dashboard-main-color);
}

.theme--light.v-navigation-drawer {
  background-color: var(--bg-dashboard-main-color) !important;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: var(--bg-dashboard-main-color) !important;
}

.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
  background-color: #272a31 !important;
}

.dashboard-menu-text {
  color: var(--heading-color) !important;
}

.dashboard-container {
  background-color: var(--bg-dashboard-content-color) !important;
  border-radius: 24px !important;
  box-shadow: 
    0px 2px 4px -1px rgb(0 0 0 / 28%), 
    0px 4px 5px 0px rgb(0 0 0 / 0%), 
    0px 1px 10px 0px rgb(0 0 0 / 17%);
  color: var(--heading-color) !important;
}

.theme--light.v-footer {
  background-color: var(--bg-dashboard-main-color) !important;
  color: var(--heading-color) !important;
}

.v-list .v-list-item--active {
  color: var(--second-main-color) !important;
  border-radius: 1rem;
}

.theme--light.v-list-item--active:hover::before, .theme--light.v-list-item--active::before {
  opacity: 0.30 !important;
}

.v-list-item--link:before {
  background-color: var(--second-main-color) !important;
  border-radius: 1rem;
}