.header-table {
  color: var(--main-color) !important;
  font-style: normal !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: .6px !important;
}

.header-text, .header-text > a, .header-text > span {
  color: var(--heading-color) !important;
  font-style: normal !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: .6px !important;
}

.header-text:hover, .header-text > a:hover, .header-text > span:hover {
  color: var(--main-color) !important;
}

.header-list {
  background-color: rgba(0, 0, 0, 0.85) !important;
  border-bottom: 4px solid var(--main-color) !important;
}

.theme--light.v-icon {
  color: var(--heading-color);
}

.main-content {
  margin-top: 20px !important;
  border-radius: 0.5rem;
  background-color: var(--bg-content);
}

.content {
  border-radius: 0.5rem !important;
  color: var(--text-color);
  background-color: var(--bg-main-color);
  border: 1px solid var(--bg-second-color);
}

.side-bar {
  color: var(--text-color);
}

.widget {
  background-color: var(--bg-main-color);
  border: 1px solid var(--bg-second-color);
  border-radius: 0.5rem !important;
}

.widget-title {
  border-radius: 0.5rem 0.5rem 0px 0px !important;
  background-color: var(--bg-header);
  display: flex;    
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: .72px;
  color: var(--heading-color);
}

.widget-title > span {
  display: block;
  flex: auto;
  padding-right: 10px;
}

.widget-title::after {
  border-bottom-color: var(--heading-color) !important;
}

.widget-title::after {
  content: "";
  display: block;
  flex: 100;
  border-bottom: 4px solid;
  transform: translateY(-10px);
}

.bold {
  font-weight: bold;
}

.title {
  display: flex;
  padding: 0.5rem 1rem 0.5rem;
  font-size: 18px;
  font-weight: bold !important;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: .72px;
  color: var(--heading-color);
}

.title > span {
  display: block;
  flex: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.title::after, .title::before {
  border-bottom-color: var(--main-color) !important;
}

.title::before {
  flex: 20px;
  width: 20px;
  min-width: 20px;
  content: "";
  display: block;
  border-bottom: 4px solid;
  transform: translateY(-10px);
}

.title::after {
  content: "";
  display: block;
  flex: 100;
  border-bottom: 4px solid;
  transform: translateY(-10px);
}

.v-pagination__item {
  color: var(--main-color) !important;
  font-size: 20px !important;
  box-shadow: none !important;
}

.v-pagination__item--active {
  color: var(--heading-color) !important;
  font-size: 20px !important;
  box-shadow: none !important;
}

.menu-mobile {
  background-color: var(--bg-third-color) !important;
  border-right: 2px solid var(--main-color) !important;
}

.theme--light.v-data-table {
  background: none !important;
  color: var(--heading-color) !important;
}

.theme--light.v-data-table thead th {
  background: var(--tables) !important;
  color: var(--heading-color) !important;
}

.v-data-footer {
  background: var(--tables) !important;
  color: var(--heading-color) !important;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: var(--heading-color) !important;
}

.v-application--is-ltr .v-data-table--fixed-header .v-data-footer {
  background: var(--tables) !important;
  color: var(--heading-color) !important;
  margin-right: 0px !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: var(--tables-hover) !important;
  color: var(--heading-color) !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: var(--heading-color) !important;
}

.v-text-field > .v-input__control > .v-input__slot:after {
  border-color: var(--main-color) !important;
}

.theme--light.v-label {
  color: var(--heading-color) !important;
}

.theme--light.v-input input, .theme--light.v-input textarea {
  color: var(--heading-color) !important;
}

.v-application .primary--text {
  color: var(--main-color) !important;
  caret-color: var(--main-color) !important;
}

.auth-box {
  background: #2d3d54 !important;
  border-radius: 1.925rem;
  padding: 2.5rem 2rem;
  color: var(--heading-color) !important;
}

.auth-title {
  text-align: center;
  margin-bottom: 3.5rem;
  display: grid;
  grid-gap: 0.6rem;
}

.auth-redirect {
  margin: 2rem auto 0;
  text-align: center;
  font-size: .9rem;
  font-weight: 400;
  color: rgba(236,236,246,.5);
}

.auth-image {
  border-radius: 30px 0px 0px 30px;
}

/* Buttons */
.btn {
  text-transform: none;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid transparent !important;
  letter-spacing: 0;
  min-width: 150px !important;
}

.btn-mobile {
  text-transform: none;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid transparent !important;
  letter-spacing: 0;
}

.btn a {
  text-decoration: none !important;
  color: inherit !important;
}

.btn-success-primary {
  background: var(--main-color) !important;
  color: var(--heading-color) !important;
  border: 1px solid var(--main-color) !important;
}

.btn-success-secondary {
  color: var(--second-color) !important;
  border: 1px solid var(--second-color) !important;
}

.btn-success-third {
  color: var(--green) !important;
  border: 1px solid var(--green) !important;
}

.btn-danger-primary {
  background: var(--red) !important;
  color: var(--text-color) !important;
  border-color: var(--red) !important;
}

.btn-danger-secondary {
  color: var(--red) !important;
  border-color: var(--red) !important;
}

.container {
  width: 95% !important;
}

@media (min-width: 960px) {
  .container {
    max-width: 95% !important;
  }
}

@media (min-width: 1264px) {
  .container {
    max-width: 95% !important;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 95% !important
  }
}

.text-register {
  text-decoration: underline;
  color: var(--main-color);
}

.v-dialog {
  box-shadow: none !important;
}

.theme--light.v-tabs > .v-tabs-bar {
  background-color: var(--bg-main-color) !important;
  color: var(--main-color) !important;
  border-radius: 1.95rem;
}

.theme--light.v-tabs-dashboard > .v-tabs-bar {
  background-color: #2a2c32 !important;
}

.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon, .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn, .theme--light.v-tabs > .v-tabs-bar .v-tab--disabled {
  color: var(--text-color) !important;
}

.theme--light.v-tabs-items {
  background-color: var(--bg-main-color) !important;
  color: var(--text-color) !important;
  border-radius: 1.95rem;
}

.bg-third {
  background-color: #00ffc43b !important;
  color: var(--text-color) !important;
  border-radius: 1.95rem;
}

.v-slide-group__next--disabled, .v-slide-group__prev--disabled {
  pointer-events: all !important;
}

.v-icon--disabled {
  color: var(--text-color) !important;
}

.bg-character-list {
  background-color: rgba(20, 31, 54, 0) !important;
  box-shadow: none !important;
}

.bg-second {
  background-color: var(--bg-content) !important;
  color: var(--text-color) !important;
  border-radius: 0.5rem;
}

.toasted-container .toasted {
  align-items: center !important;
  justify-content: center !important;
  font-weight: bold !important;
  font-size: 19px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  height: 65px !important;
  transform: none !important;
  right: -50px !important;
}

.toasted.bubble.error {
  background: #f44336d7 !important;
}

.fs-14 {
  font-size: 14px !important;
}

.v-application .text-left {
  text-align: left !important;
}

.v-application .text-right {
  text-align: right !important;
}

.v-application .text-center {
  text-align: center !important;
  justify-content: center;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none !important;
}

.theme--light.v-card {
  background-color: transparent !important;
}

.character-avatar-name {
  background-color: #6959529e;
  position: relative;
  top: 72px;
  color: var(--heading-color);
  font-weight: bold;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: var(--heading-color) !important;
}

.color-gray {
  color: var(--gray) !important;
}

.color-orange {
  color: var(--second-color) !important;
}

.color-green {
  color: var(--green) !important;
}

.color-red {
  color: var(--red) !important;
}

.theme--light.v-pagination .v-pagination__navigation {
  background: none !important;
}

.v-pagination__navigation {
  box-shadow: none !important;
}

#dashboard {
  background-color: var(--bg-dashboard-main-color);
}

#dashboard h3 {
  color: var(--heading-color) !important;
}

.dashboard-drawer {
  background-color: var(--bg-dashboard-main-color) !important;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: var(--bg-dashboard-main-color) !important;
}

.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
  background-color: #272a31 !important;
}

.dashboard-menu-text {
  color: var(--heading-color) !important;
}

.dashboard-container {
  background-color: #2a2c32 !important;
  border-radius: 24px !important;
  box-shadow: 
    0px 2px 4px -1px rgb(0 0 0 / 28%), 
    0px 4px 5px 0px rgb(0 0 0 / 0%), 
    0px 1px 10px 0px rgb(0 0 0 / 17%);
  color: var(--heading-color) !important;
}

.theme--light.v-footer {
  background-color: var(--bg-dashboard-main-color) !important;
  color: var(--heading-color) !important;
}

.v-list .v-list-item--active {
  color: var(--main-color) !important;
  border-radius: 1rem;
}

.theme--light.v-list {
  background: var(--bg-content) !important;
  color: var(--heading-color) !important;
}

.theme--light.v-list-item--active:hover::before, .theme--light.v-list-item--active::before {
  opacity: 0.30 !important;
}

.v-list-item--link:before {
  background-color: var(--main-color) !important;
  border-radius: 1rem;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  z-index: 0 !important;
}

.v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__icon:last-of-type:not(:only-child) {
  margin-left: 0px !important;
}

.v-application--is-ltr .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 40px !important;
}

.btn-highscores {
  color: var(--heading-color);
}

.theme--light.v-bottom-navigation {
  background-color: inherit !important;
  box-shadow: none !important;
  color: var(--main-color) !important;
}

.theme--light.v-select .v-select__selections {
  color: var(--heading-color) !important;
}

.theme--light.v-data-table .v-data-table__empty-wrapper {
  color: var(--heading-color) !important;
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: transparent !important;
}

.v-application a {
  color: var(--heading-color);
  font-weight: 600 !important;
  text-transform: uppercase;
  -webkit-transition: .15s color !important;
  -o-transition: .15s color !important;
  transition: .15s color !important;
  text-decoration: none !important;
}

.v-application a:hover {
  color: var(--main-color) !important;
}

.actions-guild {
  border: 2px solid var(--main-color);
  border-radius: 1rem;
}

.theme--light.v-bottom-navigation .v-btn:not(.v-btn--active) {
  color: var(--heading-color) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.news-content {
  background-color: #2a2c32;
  border-radius: 0.5rem;
}

.theme--light.v-icon.v-icon.v-icon--disabled {
  color: var(--heading-color) !important;
}

.shop-item {
  border: 2px solid var(--main-color);
  border-radius: 1rem;
}

.dashboard-side-bar {
  color: var(--heading-color) !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  transition: .15s color !important;
  text-decoration: none !important;
}

.highscores-title {
  text-transform: none !important;
}

.character-informations {
  background-color: var(--bg-dashboard-content-color);
  border: 1px solid var(--second-color);
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .toasted-container .toasted {
    width: 350px !important;
    top: -15px !important;
    border-radius: 30px !important; 
  }
  .toasted-container.bottom-right {
    right: 0% !important;
    bottom: 2% !important;
  }
}