:root {
  --heading-color: #ffffff;
  --text-color: #ffffff;
  --main-color: #0385ff;
  --title-color: #9cabb9;
  --second-main-color: #2196F3;
  --bg-main-color: #0b1822;
  --bg-second-color: #334459;
  --bg-third-color: #061217;
}

#app {
  background-color: var(--bg-main-color);
}

#header {
  background: url('~assets/images/top-header.jpg') !important;
}

#main {
  background-image: url('~assets/images/background.jpg') !important;
  background-position-x: center;
  background-size: cover;
}

.header-text > a, .header-text > span {
  color: var(--heading-color) !important;
  font-style: normal !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: .6px !important;
}

.header-text > a:hover, .header-text > span:hover {
  color: var(--main-color);
}

.header-list {
  background-color: var(--bg-third-color) !important;
  border: 1px solid var(--bg-second-color) !important;
}

.content {
  color: var(--text-color);
  background-color: #141f36;
  border: 1px solid var(--bg-second-color);
  display: flex;
  justify-content: center;
}

.side-bar {
  color: var(--text-color);
}

.widget {
  background-color: rgba(6, 18, 23, 0.9);
  border: 1px solid var(--bg-second-color);
}

.widget-title {
  padding: 1.1rem 1.8rem 0.95rem;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: .72px;
  background: url('~assets/images/top-header.jpg') !important;
  border-bottom: 1px solid var(--bg-second-color);
  color: var(--title-color);
}

.theme--light.v-data-table {
  background: none !important;
  color: var(--title-color) !important;
}

.theme--light.v-data-table.v-data-table--fixed-header thead th {
  background: rgb(3 255 243 / 45%) !important;
  color: var(--heading-color) !important;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: var(--heading-color) !important;
}

.v-application--is-ltr .v-data-table--fixed-header .v-data-footer {
  background: rgb(3 255 243 / 45%) !important;
  color: var(--heading-color) !important;
  margin-right: 0px !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: rgb(3 255 243 / 45%) !important;
  color: var(--heading-color) !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: var(--heading-color) !important;
}

.v-text-field > .v-input__control > .v-input__slot:after {
  border-color: var(--main-color) !important;
}

.theme--light.v-label {
  color: var(--heading-color) !important;
}

.theme--light.v-icon {
  color: var(--heading-color) !important;
}

.theme--light.v-input input, .theme--light.v-input textarea {
  color: var(--heading-color) !important;
}

.v-application .primary--text {
  color: var(--main-color) !important;
  caret-color: var(--main-color) !important;
}

.auth-box {
  background: #2d3d54 !important;
  border-radius: .925rem;
  padding: 2.5rem 2rem;
  color: var(--heading-color) !important;
}

.auth-title {
  text-align: center;
  margin-bottom: 3.5rem;
  display: grid;
  grid-gap: 0.6rem;
}

.auth-redirect {
  margin: 2rem auto 0;
  text-align: center;
  font-size: .9rem;
  font-weight: 400;
  color: rgba(236,236,246,.5);
}

.login-welcome {
  border-radius: 22px 0px 0px 22px;
}

/* Buttons */
.btn {
  text-transform: none;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid transparent !important;
  letter-spacing: 0;
  min-width: 150px !important;
}

.btn-success-primary {
  background: var(--main-color) !important;
  color: var(--heading-color) !important;
  border: 1px solid var(--main-color) !important;
}