:root {
  --heading-color: #ffffff;
  --text-color: #ffffff;
  --title-color: #9cabb9;

  --red: #f56969;
  --green: #41c683;
  --gray: #80828a;

  --main-color: #dd163b;
  --second-color: #ef9e2b;

  --tables: #dd163b;
  --tables-hover: #181c23;

  --bg-header: #293139;
  --bg-content: #293139;
  --bg-main-color: #171e22;
  --bg-second-color: #334459;
  --bg-third-color: #061217;

  --bg-dashboard-main-color: #1f2128;
  --bg-dashboard-content-color: #2a2d38;
}

#app {
  background-color: var(--bg-main-colorh);
}

#header {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

#main {
  background-image: url('~assets/images/tibia-default/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}