<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/mail')
  </head>
  <body>
    <div class="mail">
      <img
        src="https://i.ibb.co/QNyvb0m/logo.png"
        alt="ElectroAAC"
        class="logo"
      />

      <p>
        A password recovery request has been made for your account, if you were not the author, just disregard this email.
      </p>

      <p>
        To continue with password recovery click the button below and create a new password.
      </p>

      <a href="{{ link }}" target="_blank" class="button">
        Recover my password
      </a>
    </div>
  </body>
</html>