<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <img src="https://ibb.co/QNyvb0m" alt="ElectroAAC" class="logo" />

      <p>Welcome to ElectroAAC!</p>

      <p>Your account has been created successfully.</p>
    </div>
  </body>
</html>